<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-small-cap">--- İŞLETME</li>
{#                  <li> <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="ti-email"></i><span class="hide-menu">Inbox</span></a>#}
{#                    <ul aria-expanded="false" class="collapse">#}
{#                        <li><a href="{{ path('app_brand_new') }}">Marka</a></li>#}
{#                        <li><a href="app-email-detail.html">Mailbox Detail</a></li>#}
{#                        <li><a href="app-compose.html">Compose Mail</a></li>#}
{#                    </ul>#}
                <li><a href="{{ path('category_index') }}">Kategori</a></li>
                <li><a href="{{ path('product_index') }}">Ürün</a></li>
                <li><a href="{{ path('order_index') }}">Siparişler</a></li>
                </li>

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>