{% extends 'base.html.twig' %}

{% block title %}Yetkiniz Yok{% endblock %}

{% block body %}
<div class="center">
    <h1>Yetkiniz Yok</h1>
    <p>Bu sayfayı görüntülemek için yetkiniz yok.</p>
</div>
{% endblock %}