<div class="col-sm-12" id="crudFormDiv">
    <div class="row">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group col-sm-12">
            <button class="crudFormButton btn btn-success">Kaydet</button>
        </div>
        {{ form_end(form) }}
    </div>
</div>
