<div class="col-sm-12" id="crudFormDiv">
    <div class="row">
        {{ form_start(form, {'attr': {'id': 'order_form'}}) }}
        {{ form_widget(form) }}
        <div class="form-group col-sm-12 mt-5">
            <button class="crudFormButton btn btn-success">Güncelle</button>
        </div>
        {{ form_end(form) }}
    </div>
</div>
